<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Url-shortener</title>{% endblock %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- add static CSS & JS files -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% load static %}
  <link rel="stylesheet" href="{% static 'js/main.js' %}">

</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'urls' %}">All URLs</a></li>
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>

  
</body>
</html>